* {
    background-color: rgb(75, 75, 75);
    font-family: Georgia, 'Times New Roman', Times, serif
}

:root{
    --timer-container-bg-color: rgb(46, 46, 46);
    --timer-name-color: white;
    --timer-name-border-bottom: rgb(88, 88, 88);

    --top-button-border:rgb(233, 184, 255);
    --timer-auto-button-gradient-bottom:rgb(219, 142, 255);
    
    --timer-container-gradient-top: rgb(219, 142, 255);
    --timer-container-gradient-bottom: #3ab1d5;

    --button-border: rgb(127, 195, 255);
    --button-icon: rgb(127, 195, 255);
    --button-box-shadow:rgb(201, 247, 253);

    --header-button-border: rgb(219, 142, 255);

    --break-button-border: rgb(255, 127, 127);
    --break-button-icon: rgb(255, 127, 127);
    --break-button-box-shadow: rgb(253, 201, 201);

    --preset-container-bg: rgb(73, 73, 73);
    --preset-container-title: white;
    --preset-container-title-bottom: rgb(88, 88, 88);
    --preset-container-list-item: white;


    --container-box-shadow: rgb(59, 59, 59);

}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 2em;
    height: 50em;
    align-items: stretch;
}

.timer_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--timer-name-color);
    font-size: larger;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid var(--timer-name-border-bottom);
    background-color: transparent;
}

.timer_name * {
    background-color: transparent;
}

.timer_name button {
    width: 7em;
    height: 2em;
    color: white;
    border-radius: 2em;
    border: 2px solid var(--top-button-border);
    box-shadow: 2px 2px var(--button-box-shadow);
}

.timer_name button:hover {
    background-color: rgb(88, 88, 88);
}

.timer_name button:active {
    box-shadow: inset 2px 2px var(--button-box-shadow);
}

#auto_button.inset {
    box-shadow: inset 2px 2px var(--button-box-shadow);
}


.timer_container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100%;
    gap: 2em;
    overflow-y: hidden;
    background-color: var(--timer-container-bg-color);
    border-radius: 1em;
    padding: 1em;
    border-style: solid;
    border-image: 
        linear-gradient(
            to bottom, 
            var(--timer-container-gradient-top) 0%, 
            var(--timer-container-gradient-bottom) 100%) 
            1;
    border-width: 4px;
    box-shadow: 5px 5px 5px var(--container-bg-color);
}

.canvas_timer_container {
    max-width: 500px;
    height: 500px;
    background-color: var(--timer-container-bg-color);
}

.button_layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    background-color: transparent;
    padding-top: 0.5em;
    border-top: 2px solid var(--timer-name-border-bottom);
}

button.timer_button {
    width: 5em;
    height: 2em;
    color: var(--button-icon);
    border-radius: 2em;
    border: 2px solid var(--button-border);
    box-shadow: 2px 2px var(--button-box-shadow);
}

button.timer_button:hover {
    background-color: rgb(88, 88, 88);
}

button.timer_button:active {
    box-shadow: inset 2px 2px var(--button-box-shadow);
}

button.timer_button *{
    background: transparent;
}

.preset_container {
    display: flex;
    box-sizing: border-box;
    width: 60%;
    border-radius: 2em;
    height: 100%;
    background-color: var(--preset-container-bg);
    box-shadow: 5px 5px 5px var(--container-bg-color);
    padding: 0.5em;
}

.preset_inner {
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.preset_container .timer_preset_title {
    display: flex;
    color: var(--preset-container-title);
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    width: 100%;
    height: 2em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--preset-container-title-bottom);
}

.preset_container * {
    background-color: transparent;
}

.preset_list {
    color: var(--preset-container-list-item);
    height: 100%;
    overflow-y: auto;
}

.preset_list ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-sizing: border-box;
    gap: 0.5em;
    padding-left: 0;
    
}

.preset_list ul li {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    list-style-type: none;
    gap: 0.5em;
    border-radius: 2em;
    font-weight: bold;
    width: 100%;
    padding: 0.5em;
}

.preset_list ul li:hover {
    background-color: rgb(88, 88, 88);
}

.preset_list::-webkit-scrollbar {
    background: transparent;
    height: 1em;
}

.preset_list::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 2em;
}


.preset_list::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}