* {
    background-color: rgb(75, 75, 75);
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    padding: 1em;
}

:root {
    --timer-container-bg-color: rgb(46, 46, 46);
    --timer-name-color: white;
    --timer-name-border-bottom: rgb(88, 88, 88);

    --top-button-border: rgb(233, 184, 255);
    --timer-auto-button-gradient-bottom: rgb(219, 142, 255);

    --timer-container-gradient-top: rgb(219, 142, 255);
    --timer-container-gradient-bottom: #3ab1d5;

    --button-border: rgb(127, 195, 255);
    --button-icon: rgb(127, 195, 255);
    --button-box-shadow: rgb(201, 247, 253);

    --header-button-border: rgb(219, 142, 255);

    --break-button-border: rgb(255, 127, 127);
    --break-button-icon: rgb(255, 127, 127);
    --break-button-box-shadow: rgb(253, 201, 201);

    --preset-container-bg: rgb(63, 63, 63);
    --preset-container-title: white;
    --preset-container-title-bottom: rgb(88, 88, 88);
    --preset-container-list-item: white;


    --container-box-shadow: rgb(59, 59, 59);

    --preset-buttons-color: white;

    --save-button-bg: rgb(169, 255, 135);
    --save-button-bg-hover: rgb(127, 192, 102);
    --save-button-bg-active: rgb(208, 255, 190);
    --cancel-button-bg: rgb(255, 121, 121);
    --cancel-button-bg-hover: rgb(214, 102, 102);
    --cancel-button-bg-active: rgb(255, 172, 172);
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 2em;
    height: 50em;
    align-items: stretch;
}

.timer_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--timer-name-color);
    font-size: larger;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid var(--timer-name-border-bottom);
    background-color: transparent;
}

.timer_name * {
    background-color: transparent;
}

.timer_name button {
    width: 7em;
    height: 2em;
    color: white;
    border-radius: 2em;
    border: 2px solid var(--top-button-border);
    box-shadow: 2px 2px var(--button-box-shadow);
}

.timer_name button:hover {
    background-color: rgb(88, 88, 88);
}

.timer_name button:active {
    box-shadow: inset 2px 2px var(--button-box-shadow);
}

#auto_button.inset {
    box-shadow: inset 2px 2px var(--button-box-shadow);
}


.timer_container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100%;
    gap: 2em;
    overflow-y: hidden;
    background-color: var(--timer-container-bg-color);
    border-radius: 1em;
    padding: 1em;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            var(--timer-container-gradient-top) 0%,
            var(--timer-container-gradient-bottom) 100%) 1;
    border-width: 4px;
    box-shadow: 5px 5px 5px var(--container-bg-color);
}

.canvas_timer_container {
    max-width: 500px;
    height: 500px;
    background-color: var(--timer-container-bg-color);
}

.button_layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    background-color: transparent;
    padding-top: 0.5em;
    border-top: 2px solid var(--timer-name-border-bottom);
}

button.timer_button {
    width: 5em;
    height: 2em;
    color: var(--button-icon);
    border-radius: 2em;
    border: 2px solid var(--button-border);
    box-shadow: 2px 2px var(--button-box-shadow);
}

button.timer_button:hover {
    background-color: rgb(88, 88, 88);
}

button.timer_button:active {
    box-shadow: inset 2px 2px var(--button-box-shadow);
}

button.timer_button * {
    background: transparent;
}

.preset_container {
    display: flex;
    box-sizing: border-box;
    width: 60%;
    border-radius: 2em;
    height: 100%;
    background-image:
        linear-gradient(to bottom,
            var(--preset-container-bg),
            rgb(36, 36, 36));
    background-color: var(--preset-container-bg);
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
    padding: 0.5em;
}

.preset_inner {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 2em;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.preset_container .timer_preset_title {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--preset-container-title);
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    width: 100%;
    height: 2em;
    padding-left: 1em;
    border-bottom: 2px solid var(--preset-container-title-bottom);
}

.preset_container * {
    background-color: transparent;
}

.preset_list {
    color: var(--preset-container-list-item);
    height: 100%;
    overflow-y: auto;
}

.preset_list ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-sizing: border-box;
    gap: 0.5em;
    padding-left: 0;
}

.preset_list .inner {
    display: flex;
    flex-direction: row;
}

.preset_list .inner button {
    color: rgb(255, 57, 57);
    border-radius: 2em;
    border: none;
}

.preset_list .inner button:hover{
    background-color: rgb(194, 132, 132);
}

.preset_list .inner button:active{
    box-shadow: inset 2px 2px var(--button-box-shadow);
    background-color: rgb(185, 75, 75);
}

.preset_list ul li {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    list-style-type: none;
    text-align: left;
    gap: 0.5em;
    border-radius: 2em;
    font-weight: bold;
    width: 100%;
    padding: 2em;
}

.preset_list ul li p {
    width: 100%;
    text-align: center;
}

.list_selection_border {
    border: 2px solid rgb(0, 255, 149);
}

.preset_list ul li:hover {
    background-color: rgb(88, 88, 88);
}

.preset_list ul li:active {
    color: rgb(54, 54, 54);
}

.preset_list::-webkit-scrollbar {
    background: transparent;
    height: 1em;
}

.preset_list::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 2em;
}

.preset_list::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

.preset_options {
    display: flex;
    box-sizing: border-box;
    justify-content: end;
    padding: 1em;
}

.preset_options button {
    border: transparent;
    border-radius: 2em;
    color: var(--preset-buttons-color);
}

.preset_options button:hover {
    background-color: rgb(88, 88, 88);
}

.preset_options button:active {
    color: rgb(54, 54, 54);
}

.preset_options i {
    font-size: x-large;
}

.create_timer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    width: 50%;
    height: 70vh;

    background-color: rgb(36, 36, 36);
    border-radius: 2em;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.8);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    opacity: 1;
    transition: transform 0.4s, top 0.4s;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fade_in {
    z-index: 1;
    opacity: 1;
    animation-name: fade_in_opacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.075s;
}

.fade_out {
    opacity: 0;
    animation-name: fade_out_opacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.075s;
}

@keyframes fade_in_opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade_out_opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.create_timer_container_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    width: 70%;

    color: white;
}

.create_timer_container_inner span {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid var(--timer-name-border-bottom);
}

.create_timer_container * {
    background: transparent;
    margin: 0;

}

.create_timer_container_title {
    font-weight: bold;
    font-size: large;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid var(--timer-name-border-bottom);
    padding: 0.5em;
}

.create_timer_name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--timer-name-border-bottom);
    padding: 0.5em;
    width: 100%;
    height: 100%;
}

.create_timer_name input {
    color: white;
    padding: 1em;
    border-radius: 2em;
    background-color: var(--timer-container-bg-color);
}

.interactive_create_timer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--timer-container-bg-color);
    border-radius: 2em;
    width: 70%;
    font-size: 4em;
    border-top: 2px solid var(--timer-container-gradient-top);
    border-bottom: 2px solid var(--timer-container-gradient-bottom);
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.timer_segment {
    border-radius: 0.25em;
}

.timer_segment:hover {
    background-color: rgb(88, 88, 88);
}

.timer_segment_selection {
    background-color: rgb(88, 88, 88);
    border-radius: 0.25em;
}

.create_timer_button_layout {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.save_button {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    background-color: var(--save-button-bg);
    border-radius: 1em;
    border: none;
    padding: 1em;
    width: 30%;
    font-size: 1em;
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.save_button:hover {
    background-color: var(--save-button-bg-hover);
}

.save_button:active {
    background-color: var(--save-button-bg-active);
}

.cancel_button {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    background-color: var(--cancel-button-bg);
    border: none;
    border-radius: 1em;
    padding: 1em;
    width: 30%;
    font-size: 1em;
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.cancel_button:hover {
    background-color: var(--cancel-button-bg-hover);
}

.cancel_button:active {
    background-color: var(--cancel-button-bg-active);
}