* {
    background-color: rgb(73, 73, 73);
    font-family: Georgia, 'Times New Roman', Times, serif
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 2em;
    height: 45em;
    align-items: stretch;
}

.timer_name {
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    width: 100%;
    border-bottom: 2px solid rgb(88, 88, 88);
}

.timer_container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;
    gap: 2em;
    overflow-y: auto;
    background-color: rgb(46, 46, 46);
    border-radius: 1em;
    padding: 0.5em;
    border-style: solid;
    border-image: linear-gradient(to bottom, #db8eff 0%, #3ab1d5 100%) 1;
    border-width: 4px;
}

.timer_container * {
    /*This needs to be altered*/
    background: transparent;
}

.canvas_timer_container {
    max-width: 500px;
    height: 500px;
}

.button_layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

button.timer_button {
    width: 5em;
    height: 2em;
    color: rgb(127, 195, 255);
    border-radius: 2em;
    border: 2px solid rgb(127, 195, 255);
    box-shadow: 2px 2px rgb(201, 247, 253);
}

.preset_container {
    display: flex;
    box-sizing: border-box;
    width: 60%;
    border-radius: 2em;
    height: 100%;
}

.preset_inner {
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.preset_container .timer_preset_title {
    display: flex;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    width: 100%;
    height: 2em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid rgb(88, 88, 88);
}

.preset_container * {
    background-color: transparent;
}

.preset_list {
    height: 100%;
    overflow-y: auto;
}

.preset_list ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    box-sizing: border-box;
    gap: 0.5em;
    padding-left: 0;
    
}

.preset_list ul li {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    list-style-type: none;
    gap: 0.5em;
    border-radius: 2em;
    font-weight: bold;
    width: 100%;
    padding: 0.5em;
}

.preset_list ul li:hover {
    background-color: rgb(88, 88, 88);
}

.preset_list::-webkit-scrollbar {
    background: transparent;
    height: 1em;
}

.preset_list::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 2em;
}


.preset_list::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}